.imagesBlock {

}

.selectedImageBlock {
    width: 700px;
    height: 525px;
    display: flex;
    align-items: center
}

.selectedImageContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.arrow {
    position: absolute;
}

.arrow:hover {
    font-size: 50px;
    cursor: pointer;
}

.arrowLeft {
    left: 15px;
}

.arrowRight {
    right: 15px;
}

.previewImages {
    padding: 1% 0;
    height: 18%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(auto-fit, 20%);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.previewImage {
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
}

.previewImage:hover {
    transform: scale(1.3);
}

.selectedPreviewImage {
    border: 2px solid black;
    box-sizing: border-box;

}


.content {
    width: 70vmin;
    height: 70vmin;
    flex-direction: column;
}