.content {
    border: solid 1px;
    position: relative;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.selectedImage {
    max-width: 100%;
    max-height: 100%;
}

.arrow {
    width: 100%;
}

.arrowContainer {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: lightgrey;
    cursor: pointer;
    transition: background-color .4s;
}

.arrowContainerNew {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

.arrowContainer:hover {
    background: slategray;
}

.arrowRight {
    right: 0;
    top: 0;
}

.deleteButton {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 5px 0 0;
    z-index: 5;
}