.messagingBlock {
    margin-top: 10px;
}

.chat {
    justify-content: center;
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 4px;
    height: 80vh;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .chat {
        width: 98%;
    }
}