.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.code {
    font-size: 30vmin;
    font-weight: bold;
}

.message {
    font-size: 10vmin;
}