.imagesParamsBlock {

}

.paramsBlock {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

@media (max-width: 825px) {
    .paramsBlock {
        width: 500px;
    }
}

.paramsBlock > * {
    margin-bottom: 10px !important;
}

.mainBlock {
    display: flex;
    margin: 16px auto;
    width: 80%;
    justify-content: center;
}

@media (max-width: 1090px) {
    .mainBlock {
        width: 80%;
    }
}

@media (max-width: 955px) {
    .mainBlock {
        width: 90%;
    }
}

@media (max-width: 825px) {
    .mainBlock {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (min-width: 826px) {
    .mainBlock > div:first-child {
        margin-right: 32px;
    }
}

.textarea {
    height: 100px;
    resize: none;
    border-color: rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

.textarea:hover {
    border-color: black;
}

.textarea:focus {
    outline: none !important;
    box-shadow: inset 0 0 0 2px #2196f3;
    border-color: rgba(0, 0, 0, 0.0);
}