.addImageBlock {
    height: 56px;
    border-radius: 4px;
    border: 1px solid;
    box-sizing: border-box;
    margin-bottom: 8px;
    display: flex;
    color: rgba(0,0,0,0.54);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}